.timeline {
	margin: 20px;
	margin-bottom: 60px;
	background: white;
	max-width: 1120px;
	.timeline-months {
		width: 100%;
		display: flex;
		padding-left: 30px;
		justify-content: space-between;
		color: #959494;
		text-align: center;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 6px;
		&-month {
			width: 10px;
			margin: 2px;
			border: 1px solid transparent;
			font-size: 10px;
		}
	}

	&-body {
		display: flex;
		background: #fff;

		.timeline-weekdays {
			display: inline-flex;
			flex-direction: column;
			width: 30px;

			&-weekday {
				height: 12.5px;
				border: 1px solid transparent;
				margin: 2px;
				vertical-align: middle;
				color: #959494;
				text-align: center;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
		}

		.timeline-cells {
			display: inline-flex;
			flex-direction: column;
			flex-wrap: wrap;
			height: 140px;
		}
	}
}
