.itemModal {
	top: -46px;
	left: -45%;
	transform: translateX(-45%);
	position: absolute;
	border-radius: 3px;
	background: #000;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 5px;
	width: 146px;
	gap: 4px;
	flex-wrap: nowrap;
	text-align: center;
	.count {
		color: #fff;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
	.date {
		color: #7c7c7c;
		font-size: 10px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
